-e .
-r requirements-docs-tests.txt
pytest >=7.0.1,<8.0.0
coverage[toml] >=6.2,<8.0
mypy ==1.11.1
ruff ==0.4.7
# For FastAPI tests
fastapi >=0.103.2
httpx ==0.24.1
# TODO: upgrade when deprecating Python 3.7
dirty-equals ==0.6.0
jinja2 ==3.1.4
# Pin typing-extensions until Python 3.8 is deprecated or the issue with dirty-equals
# is fixed, maybe fixed after dropping Python 3.7 and upgrading dirty-equals
typing-extensions ==4.6.1
