-e .
-r requirements-docs-tests.txt
pytest >=7.0.1,<9.0.0
coverage[toml] >=6.2,<8.0
mypy ==1.19.1
ruff ==0.14.10
# For FastAPI tests
fastapi >=0.103.2,<0.126.0
httpx ==0.28.1
dirty-equals ==0.11
jinja2 ==3.1.6
typing-extensions ==4.15.0
